<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./images/favicon.png">

    <title>Chat example</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

</head>
<body>
<!--Thanh dieu huong -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- LOGO KHI CO GIÃN KÍCH THƯỚC MÀN HÌNH -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> <span class="lms-logo-48"></span>
            </a>
        </div>
        <!-- Menu -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="<%= (locals.trangchu) ? 'active' : '' %>"><a href="/">Home</a></li>
                <li  class="<%= (locals.huongdansd) ? 'active' : '' %>"><a href="">Using</a></li>
                <li  class="<%= (locals.lienhe) ? 'active' : '' %>"><a href="">Contact</a></li>
            </ul>
            <div id="login-dropdown" class="nav navbar-right">
                <% if(session.userId)
                {%>
                <div>
                    <span id="login-dropdown-child">
                        <ul class="nav navbar-nav"><!--nav navbar-nav-->
                            <li class="dropdown"><a class="dropdown-toggle cursor" data-toggle="dropdown"><img class="img-circle" src="./images/user/<%=session.avatar%>" width="35" height="35"></a>
                                <ul class="dropdown-menu">
                                    <li><a href='/user_info' class="cursor">My profile</a></li>
                                    <li><a id="change_password" class="cursor">Change password</a></li>
                                    <li><a id="view-history" class="cursor">Chat history</a></li>
                                    <li><a href='javascript: void(0)' id="btnExit" class="cursor">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </span>
                </div>
                <%
                }
                else
                {%>
                <div class="navbar-btn btn-group btn-group-md">
                    <a href='/register' class="btn btn-info">Register</a>
                </div>
                <%}%>
            </div>
            <div class='navbar-form navbar-right'>
                <div class="form-group has-success has-feedback">
                    <input type="text" class="form-control" id='txtTimKiem-user' placeholder="Search" value="<%= (locals.curr_timkiem) ? curr_timkiem : '' %>">
                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--/.THANH ĐIỀU HƯỚNG -->
<!--/.modal dang nhap -->
<div class='page-container'>
    <div class='container'>